@media only screen and (max-width: 1865px){
    .navbar-brand   {
        font-size: 1.4em;
    }
    #mySlider .panel    {
        padding: 2.375em 2.5em;
    }
    .vastok-container #mySlider .panel button    {
        padding: .7em 2.75em;
    }
    .vastok-container #mySlider .panel a    {
        padding: .7em 2em;
    }
    nav.navbar, .statistika-container, .vastok-container, .vs-container, .forma-container, .novosti-container, .festival-container,
     .galereya-container, .contact-container,  .partnyor-container,  .footer-container, footer {
        font-size: 0.9em;
    }
   
    .partnyor-container .logos  img {
        width: 5.5em;
    }
}


@media only screen and (max-width: 1700px){
    nav.navbar, .statistika-container,  .vastok-container, .vs-container, .forma-container, .novosti-container, .festival-container,
     .galereya-container, .contact-container,  .partnyor-container,  .footer-container, footer {
        font-size: 0.85em;
    }
}


@media only screen and (max-width: 1600px){
    nav.navbar, .statistika-container, .vastok-container, .vs-container, .forma-container, .novosti-container, .festival-container,
     .galereya-container, .contact-container,  .partnyor-container,  .footer-container, footer  {
        font-size: 0.75em;
    }
   
}


@media only screen and (max-width: 1400px)  {
    nav.navbar  {
        font-size: 0.6em;
    }
   .statistika-container,   .vastok-container,  .vs-container, .forma-container, .novosti-container, 
    .festival-container, .galereya-container, .contact-container, .partnyor-container, 
    .footer-container, footer   {
        font-size: 0.7em;
    }
    #myOwl2 .owl-item img {
        width: 90%;
    }
    .plov-img   {
    bottom: -14%;
    right: 0%;
    z-index: 5;
    }
    #form-cont {
        margin: 0 4.5em 0 2.9em;
        padding: 4.68em 1.25em;
    }
  
}

@media only screen and (max-width: 1300px)  {
    nav.navbar, .statistika-container, .vastok-container,  .vs-container, .forma-container, .novosti-container, 
    .festival-container, .galereya-container, .contact-container, .partnyor-container, 
    .footer-container, footer  {
        font-size: 0.55em;
    }
    .vastok-container #mySlider .panel button    {
        padding: .3em 1.5em;
    }
    .vastok-container #mySlider .panel a    {
        padding: .3em 1.5em;
    }
}
@media only screen and (max-width: 1025px) {
    .statistika-container, .vs-container, .forma-container, .novosti-container, 
    .festival-container, .galereya-container, .contact-container, .partnyor-container, 
    .footer-container {
        padding: 0;
        margin-left: 1em;
        margin-right: 1em;
        font-size: 0.8em;
    }
    .navbar-expand-lg .navbar-nav .nav-link{
        padding-right: 0;
        padding-left: 0;
    }
    .vastok-container   {
    padding: 0;
    margin: 2em 16em;
    }
    .footer-container .panel-bg {
        width: 23em;
    }
    #navbar {
        padding: 1em;
    }
}

@media only screen and (max-width: 1000px)   {

    nav.navbar {
        font-size: 0.5em;
    }
    .navbar-nav.ul  {
        font-size: 0.8em;
    }
    .top10-item {
    padding: 0.5em;
    left: -150%;
    top: 80%;
    }
    ul.nav-right {
        margin: 1em auto;
    }
    ul.navbar-nav {
        margin: 0;
        padding-left: 0;
        padding-bottom: 2em;
    }
    .vastok-container   {
        font-size: 0.4em;
    }
    #myOwl2 .owl-item img {
        width: 80%;
    }
    .plov-img {
        bottom: -19%;
        right: 0%;
    }
    
    #form-cont {
        margin: 0 4.5em 0 2.9em;
        padding: 4.68em 1.25em;
    }
    .galereya-container .social img {
        height: 10%;
    }
    .vs-container, .forma-container, .galereya-container,  .statistika-container,   .festival-container, 
     .novosti-container,  .contact-container, .footer-container, footer {
        font-size: 0.46875em;
    }

    .novosti-container .col-md-12   {
        display: flex;
        justify-content: space-around;

    }
    .novosti-container .col-md-12 .card{
        display: inline-block;
    }
    .novosti-container .col-md-6 .card  {
        margin: 0 auto 3em;
    }
    .novosti-container .card    {
        font-size: 1.5em;
    }
    .galereya-container .social img {
        height: 4em;
    }
    .galereya-container .social {
        position: absolute;
        bottom: -17%;
        left: 14%;
    }
    .pred-sled  {
        width: 22em;
    }
 footer .rteco  {
    width: 12.375em;

    }
    .vastok-container #mySlider .panel button {
        padding: .3em 1.5em;
        padding: 0.5em;
        font-size: 2em;
    }
    .vastok-container #mySlider .panel a {
        font-size: 2.2em;
    }

}
@media only screen and (max-width: 800px){
    .vs-container, .forma-container, .galereya-container,  .statistika-container,   .festival-container, 
    .novosti-container,  .contact-container,  .footer-container, footer {
       font-size: 0.41666em;
   }
   nav.navbar   {
    padding: 0 2em
   }
   .partnyor-container  {
       font-size: 0.4em;
       padding-top: 0em;
   }
  
   .novosti-container .col-md-12   {
    display: inline;
}
.novosti-container .col-md-12 .card{
    display: block;
}
.novosti-container  .card  {
    margin: 0 auto 3em;
}
.novosti-container .card    {
    font-size: 1.7em;
}
.galereya-container .galereya-img   {
    right: 0;
}
}
@media only screen and (max-width: 600px){
   .forma-container, .galereya-container,  .statistika-container,   .festival-container, 
    .novosti-container,  .contact-container, .partnyor-container, .footer-container, footer {
       font-size: 0.31em;
   }
    .vastok-container {
        font-size: 0.31em;
      }
    .vastok-container .col-lg-6{
            padding-left: 0;
            padding-right: 0;
      }
    #mySlider   {
        margin-bottom: 3em;
          
      }
    .plov-img   {
        bottom: -27%;
        width: 35em;
    }
   .vastok-container .row   {
       font-size: 1.3em;
    }
   .vs-container    {
        padding: 0;
        margin: 0 4em;
        justify-content: space-between;
   }
   .uzbek, .france, .vs{
	    font-size: 1em;
    }
    .vs {
        padding: 0;
    }
    .like img{
        width: 2em;
    }
    .vs .vs-img {
        margin-top: 9em;
        width: 11.5em;
    }
    .vs p {
        padding-top: 2em;
        font-size: 2.5em;
    }
    .forma-container    {
        font-size: 0.6em;
        margin: 0;
    }
    .forma-panel    {
         z-index: 1;

    }
    .forma-panel p {
        color: #fff;

    }
.meva-cheva img {
    z-index: -1;
    height: 20em;
}
.novosti-container h3   {
    font-size: 3.2em;
}
.novosti-container .card    {
    font-size: 2.5em;
}
.novosti-container .card .card-title {
    font-size: 1em;
}
.pokazat a {
    font-size: 2em;
}
.festival-container {
    margin: 0;
    padding: 0;
    font-size: 0.3em;
}
#festival   {
    font-size: 1.5em;
    z-index: 0;
}
#festival .item {
    font-size: 1em;
}
.statistika-container   {
    margin: 0;
    padding: 6em 10em;
    font-size: 0.4em;
}
.statistika-panel   {
    font-size: 1.2em;
    margin: 7.5em 3em auto 4.8em;
    padding: 2em 2.1em;
}
.galereya-container {
    font-size: 0.4em;
    padding: 0;
    margin: 8em 0 4em;
}
.galereya-panel {
    font-size: 1.3em;
    margin: 0 6.6em;
}

.contact-container  {
    margin: 10em 0 5em;
    padding: 0;
    font-size: 0.5em;
}
.partnyor-container {
    margin: 0;
    padding: 0;
    font-size: 0.5em;
}
.logos  {
    font-size: 1.3em;
}
.footer-container   {
    margin-top: 2em;
    font-size: 0.6em;

}
.footer-container .row  {
    font-size: 1.2em;
}
.footer-container .chasi-raboti   {
    margin: 0;
}
.work-table .col-6 span {
    margin-left: 0;

}
.footer-container .panel-bg {
    width: auto;
}
.work-table.row.col-sm-12.col-md-7{
    font-size: 0.9em;
    margin-right: 0;
}
}
@media only screen and (max-width: 418px){
    .vastok-container   {
        margin: 0;
    }
    .vastok-container .slide-col    {
        padding: 0 2em;
    }
    #mySlider {
        font-size: 1.2em;
        width: 100%;
    }
    #mySlider .panel button {
        font-size: 2em;
    }
    .vs-container{
         font-size: 0.3em;
         margin: 0 auto;
    }
    .forma-panel    {
        font-size: 0.8em;
    }
    .forma-panel button {
        padding: 1.3em;
    }
    .galereya-container .social {
        position: absolute;
        bottom: -4%;
        left: 14%;
    }
    .meva-cheva {
        display: none;
    }
    .statistika-container {
        font-size: 0.3em;
    }
    .logos  {
        margin: 4em 1em;
        font-size: 0.8em;
        padding: 3em 1em;
    }
   #festival    {
       font-size: inherit;
   }
   .img-right   {
       display: none;
   }
   .novosti-container   {
       padding: 0;
   }
 .footer-container .work-table{
       font-size: 0.8em;
   }
   .plov-img    {
    bottom: -19%;
   }

}
@media only screen and (max-width: 400px)   {
    #MainLogo    {
            max-width: 80%;
            height: auto;
        }
    .vastok-container .slide-col    {
        padding: 0;    
    }
    .footer-container .navbar-brand img {
        max-width: 120%;
    }
    .footer-container {
        margin-top: 10em;
    }
    .vastok-container {
        font-size: 0.31em;
        margin: 0 2em;
    }
    .vastok-container h1    {
        font-size: 4em;
    }
    .vastok-container .row  {
    padding-bottom: 10em;
    }
    #Slider .item   {
        width: 100%;
    }
    .owl-theme .owl-dots .owl-dot span {
        width: 8px;
        height: 8px;
        margin: 5px 7px;
    }
    .vs-container   {
        margin: 0;
        font-size: 0.3em;
        padding: 0;
        justify-content: center;    
    }
    .forma-container{
        padding: 0;
    }
    .forma-panel    {
        padding-top: 2em;
    }
    #form-cont  {
        margin: 0;
    }
    .forma-panel button {
        padding: 1em;
    }
    .meva-cheva {
        display: none;

    }
    .novosti-container  {
        padding: 0 0 6em;
    }
    .novosti-container h3   {
        font-size: 4em;
    }
    .festival-container h1  {
        font-size: 3em;
        margin: 0;
        text-align: left;
        padding: 0 auto;
    }
    .festival   {
        margin: 0;
        padding: 0;
    }
    #festival   {
        max-width: 100%;
    }
    #festival .item {
        font-size: 0.8em;
    }
    #festival .item .festival-panel {
        font-size: 1.2em;
        margin-left: 1em;
        margin-right: 1em;
        max-width: 100%;
    }
    .festival .item .img-left {
        margin: 0;
        padding: 0;
    }
    .festival-container  .owl-carousel .owl-item img {
        display: block;
        width: 100%;
    }
    .img-right  {
        display: none;
    }
    .statistika-container   {
        margin-top: 5em;
        padding: 0;
        font-size: 0.3em;
    }
    .galereya-container {
        padding-bottom: 5em;
    }
    .galereya-img   {
        display: none;
    }
    .social img {
        height: 11%;
    }
    .partnyor-container h1  {
        font-size:  2.5em;
    }
    .naw-partnyor   {
        margin: 0;
        padding: 3em 2em;
        height: max-content;
    }
    .chasi-raboti h3    {
        margin: 1em auto 0.5em;
    }
    .naw-partnyor .logos    {
        font-size: 1em;
        margin: 0;
        padding: 2em;
        height: max-content;
        width: max-content;
    }
    .footer-container .row .row {
        font-size: 0.8em;
    }
    .footer-container .row .row ul li {
        margin: 0.5em;

    }
    .footer-container .row .row ul li a {
        font-size: 2em;
    }
   
    .footer-container .col-3.navbar-brand {
        display: none;
    }

    footer  {
        font-size: 0.5em;
    }
    footer .turizm {
        font-size: 1em;
        line-height: 1;
    }
    .rteco img	{
        width: 100%;
    }
   
}

@media only screen and (max-width: 320px)   {
    .vs-container   {
       font-size: 0.25em;
    }
  .naw-partnyor  .logos  {
        font-size: 0.7em;
    }
    .statistika-container   {
        font-size: 0.25em;
    }
}